body {
  background-color: rgb(236, 232, 229);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main-container {
  width: 320px;
  height: 400px;
  box-shadow: 2px 2px 20px;
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(146, 135, 126);
}


.btn {
  width: 160px; /* Fixed width */
  height: 50px; /* Fixed height */
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  line-height: 50px; /* Center text vertically */
  font-size: 16px;
  margin: 10px auto;
}

.btn:hover {
  background-color: #004fa4;
}

#table {
  text-align: center;
}
